.itemDetail{
    max-width: 1000px;
    margin-top: 10px;
}

.cardBody {
    background-color: rgb(211, 194, 176);
    margin-bottom: 3px;
    text-align: center;
}


.divForm {
    margin-top: 20px;
}

.btn {
    color: #fff;
    border-left: 1px #fff ;
}

.carrito {
    color: #ffffff;
}

.cardCart {
    max-width: 400px;
}

.cantCarrito {
    position: relative;
    left: 10%;
}

.cartContainer {
    margin-top: 5%;
    margin-left: 15%;
}

.logo-nav {
    max-width: 50px;
}

.prods {
    display: flexbox;
    box-sizing: content-box;
}
